<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjDWxF2W8hkN1XBz8iQZjD4tTfXdI-bOk</string>
	<key>GCM_SENDER_ID</key>
	<string>351456687609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fulutterFlashchatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ff443</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ff443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351456687609:ios:92e05f843703e3a9423928</string>
</dict>
</plist>